/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
	--font-family:"Archivo Black", "Noto Sans JP";
	--body-family:"Archivo Black", "Noto Sans JP";
	--pdf-background-color:"#666666"
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
	font-family: var( --font-family);
  color: rgb(var( --foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* REACT-PDF */
/* .react-pdf__Page__textContent {
  display: none;
}
.react-pdf__Page__annotations {
  display: none;
} */
.react-pdf__Page {
	background:var(--pdf-background-color) !important;
	overflow: hidden;
}
